<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Role</title>
</head>
<body>
<h1>Edit Role</h1>
<form method="post" th:action="@{/users/admin/{id}/assign-role(id=${user.id})}" th:object="${user}">
    <table>
        <tr>
            <td>Role:</td>
            <td>
                <select th:field="*{roles}" name="role">
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Save Changes</button>
</form>
<a th:href="@{/users/admin/manage}">Back to Users</a>
</body>
</html>