<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
<!--    <script th:src="@{/js/comments.js}"></script>-->
</head>
<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <input type="hidden" name="productId" id="productId" th:value="*{product.id}">
    <div th:object="${product}" class="offers row mx-auto d-flex flex-row justify-content-center">


        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <div class="card-body pb-1">
                <h5 class="card-title">Product Details</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">• Name:
                        <th:block th:text="*{name}"></th:block>
                    </div>
                    <div class="card-text">• Price:
                        <th:block th:text="*{price}"></th:block>
                    </div>
                    <div class="card-text">• Product Type:
                        <th:block th:text="*{type}"></th:block>
                    </div>
                    <div class="card-text">• Description:
                        <th:block th:text="*{description}"></th:block>
                    </div>
                    <div class="card-text">• In stock:
                        <th:block th:text="*{quantity}"></th:block>
                    </div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" sec:authorize="hasRole('ADMIN')"
                   th:href="@{/products/edit/{id}(id=*{id})}">Update</a>
                <form sec:authorize="hasRole('ADMIN')"
                      th:action="@{/products/{id}(id=*{id})}"
                      th:method="delete">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{imageUrl}" class="card-img-top" alt="Product image">
        </div>

        <section class="comments">

            <h1>Comments</h1>
            <div>
                <!-- Comments submission -->
                <form id="commentForm" method="POST"
                      action="/">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="message">Message</label>

                        <textarea name="message"
                                  id="message"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  style="background-color: white;"></textarea>
                        <small id="messageError" class="invalid-feedback">
                            Message should be at least 10 characters.
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn"
                               id="postComment"
                               value="Post Comment"/>
                    </div>
                </form>
                <!-- Comments submission -->
            </div>

            <!-- All comments section -->
            <div>
                <span id="commentCtnr"><!-- Comments section, filled in by script --></span>
            </div>
            <!-- EO: All comments section -->
        </section>
        <p style="visibility: hidden">GPX Download: <a id="gpxDownload"></a></p>
    </div>
    <!-- Scripts: track and comments
    <script th:src="@{/js/track.js}"></script> -->
    <script th:src="@{/js/comments.js}"></script>

</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>