<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymNation</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div th:replace="~{fragments/navbar}">Navbar</div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Offers</h2>
    <div th:each="order: ${orders.getContent()}"
         th:object="${order}"
         class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-body pb-1">
                <h5 class="card-title">
                    <th:block>Order Summary</th:block>
                </h5>
                <div class="card-img-top-wrapper">
                    <img class="card-img-top" th:src="*{product.getImageUrl}" alt="Car image">
                </div>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">• Order Date:
                        <th:block th:text="*{orderDate}"></th:block>
                    </div>
                    <div class="card-text">• Product:
                        <th:block th:text="*{product.getName}"></th:block>
                    </div>
                    <div class="card-text">• Buyer:
                        <th:block th:text="*{buyer.getFirstName}"></th:block>
                    </div>
                    <div class="card-text">• Price:
                        <th:block th:text="*{price}"></th:block>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid container-fluid row justify-content-center">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${orders.isFirst()} ? 'disabled' : ''">
                <a th:unless="${orders.isFirst()}"
                   th:href="@{/orders/all(size=${orders.getSize()},page=0)}"
                   class="page-link" href="#">First</a>
                <a th:if="${orders.isFirst()}"
                   class="page-link" href="#">First</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${orders.hasPrevious() ? '' : 'disabled'}">
                <a th:if="${orders.hasPrevious()}"
                   th:href="@{/orders/all(size=${orders.getSize()},page=${orders.getNumber() - 1})}"
                   class="page-link" href="#">Previous</a>
                <a th:unless="${orders.hasPrevious()}"
                   class="page-link" href="#">Previous</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${orders.hasNext() ? '' : 'disabled'}">
                <a th:if="${orders.hasNext()}"
                   th:href="@{/orders/all(size=${orders.getSize()},page=${orders.getNumber() + 1})}"
                   class="page-link" href="#">Next</a>
                <a th:unless="${orders.hasNext()}"
                   class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${orders.isLast()} ? 'disabled' : ''">
                <a th:unless="${orders.isLast()}"
                   th:href="@{/orders/all(size=${orders.getSize()},page=${orders.getTotalPages() - 1})}"
                   class="page-link" href="#">Last</a>
                <a th:if="${orders.isLast()}"
                   class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>