<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<input
        id="csrf"
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}" />

<h1>Add Product</h1>
<form th:action="@{/products/add}" th:object="${addProductModel}" method="post">
    <label>Name:</label><input name="name" type="text" th:field="*{name}"/><br/>
    <label>Description:</label><input type="text" th:field="*{description}"/><br/>
    <label>ImageURL:</label><input type="text" th:field="*{imageUrl}"/><br/>
    <label>Price:</label><input type="number" th:field="*{price}"/><br/>
    <label>Quantity:</label><input type="number" th:field="*{quantity}"/><br/>
    <label>Category:</label>
    <select th:field="*{type}">
        <option th:value="PROTEIN">Protein</option>
        <option th:value="CREATINE">Creatine</option>
        <option th:value="VITAMIN">Vitamin</option>
    </select><br/>
    <input type="submit" value="Create Product"/>
</form>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>