<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<h1>Edit User</h1>
<form method="post" th:action="@{/users/admin/{id}/edit(id=${user.id})}" th:object="${user}">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}" /></td>
        </tr>
    </table>
    <button type="submit">Save Changes</button>
</form>
<a th:href="@{/users/admin/manage}">Back to Users</a>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>